<%- include('./partials/nav') %>
<div class="about-page">
    <h1>About Me</h1>
    <div>
        <p>I am a radically open-minded software engineer focused on user-centric design and performance optimization. I am a collaborator by heart and am constantly looking to test my current skills. The process of trial and error is how I fell in love with software development in the first place. With ten years of experience as a music instructor, I have a strong foundation in cross-functional team collaboration and value the methodical process that comes with learning a new approach. I am passionate about creating tech solutions that are easily accessible to generations old and new. I believe all ages should be able to benefit from the applications we work with. </p>
        <p>I built this site as my second project for General Assembly. It was designed in under 4 days during Project week where the main focus was CRUD functionality (creating, reading, updating, and deleting). Although I would love to add more to this site, I believe this lies as a benchmark of my progress at the current time I built this.</p>
        <p>Lets connect! I constantly strive to improve and create more sites along the way. Reach out using the links below!</p>
    </div>
</div>
<%- include('./partials/footer') %>