@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  background-image: url('../images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page > div{
  width: 50%;
  padding: 20px;
  font-size: x-large;
  color: rgb(166, 166, 166);
}

a {
  color: white;
  text-decoration: none;
}

.groups-container{
  text-align: center;

}

.groups-container > .new-group{
  border: 2px solid white;
  background-color: inherit;
  font-size: large;
  font-weight: bold;
  padding: 30px;
  width: 23%;
}

.groups-container button span{
  margin-right: 10px;
  font-size: x-large;
}

.navbar-title{
  display: flex;
  text-align: end;
}

.navbar-title img{
  margin: 0px 20px;
}

.navbar{
  display: flex;
  font-family: 'Black Ops One', cursive;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.new-container{
  margin-bottom: 100px;
}

.new-container h1{
  font-size: xx-large;

}


.splash-container, .groups-container{
  background-image: url('../images/starTrail.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.splash-container button{
  background-color: black;
  width: 30%;
  height: 6vh;
  font-family: 'Bebas Neue', cursive;
}

.splash-container button a{
  font-size: x-large;
}

.splash-container button img{
  height: inherit;
  width: 2vh;
}

.group-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  border: 2px solid white;
}

.group-box, .group-box-joined, .group-list-container{
  width: 20%;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}

.group-box-joined :hover{
  color: purple;
}

.join-box{
  background-color: green;
  cursor: pointer;
}

footer{
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: rgb(34, 32, 32);
}

.show-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-one{
  width: 15%;
  display: flex;
  flex-direction: column;
}
.group-list{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.group-list li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  border-bottom: 2px solid grey;
  width: 80%;
}

.group-list li:hover{
  color: rgb(74, 74, 180);
  cursor: pointer;
}

.column-three ul li {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
}

.column-three ul li img{
  height: 50px;
  border-radius: 50%;
}

.column-three{
  display: flex;
  flex-direction: column;
  width: 15%;
}

.column-three form{
  margin-bottom: 30px;
  margin-left: 50px;
}

.column-three form button{
  background-color: rgb(166, 15, 15);
}

.online-users{
  flex-grow: 1;
}

.column-one, .column-three, .column-two{
  margin-left: 5px;
}

.column-two{
  width: 70%;
  display: flex;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 5px;
  flex-direction: column;
  height: 90vh
}

.empty-feed{
  height: 60vh;
  opacity: .6;
  border-style: none;
  background-color: inherit;
  align-items: center;
  margin-left: 350px;
}

.main-feed{
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  justify-items: flex-start;
  overflow: scroll;
}

.reply-form > input{
  background-color: inherit;
  color: white;
  width: 80vh;
  height: 2.5vh;
  border-style: none;
  margin: 0px 10px 10px;

}

::placeholder{
  color: white;
  opacity: .6;
}

.post-container, .reply-container{
  display: flex;
  border-bottom: 1px solid gray;
  height: fit-content;
  width: 95%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  justify-content: stretch;
}

.post-container img{
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.post-info, .reply-info{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 6px;

}

.post-user, .reply-info{
  width: 100%;
  color: white;
  font-weight: bold;
}

.post-edit, .reply-edit{
  display: flex;
  margin-right: 10px;
}

.post-title, .reply-title{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.post-title span{
  opacity: .7;
  color: gray;
}

.post-content{
  margin: 10px;
  border-bottom: 1px solid gray;
}

.delete-post, .edit-button{
  border: none;
  background-color: #000;
  color: white;
  padding: 2px 5px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
}

.reply{
  cursor: pointer;
}

#new-post{
  display: flex;
  height: 10vh;
  width: 100%;
  margin-left: 10%;
  margin-top: 10px;
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  text-align: center;
}

#new-post input{
  height: 30%
}

#new-post textarea, .edit-content{
  width: 80%;
  height: 7vh;
  resize: none;
  font: 18px "Playfair Bold";
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-image: url('../images/stars.jpg');
  color: white
}