body {
  padding: 20px;
  font: 14px "Playfair Bold";
  background-color: black;
  color: white;
}

a {
  color: #545a5d;
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splash-container, .groups-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-box{
  padding: 30px;
  border: 2px solid white;
  width: 20%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}

